* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 70vh;

    background-color: aqua;
}

nav {
    height: 50px;

    background-color: blueviolet;
}
 section {
     height: 70vh;
 } 
 
 section.gold {
    background-color: gold;
 }

 footer {
     height: 30vh;

     background-color: gray;
 }