* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}


 /* HEADER + NAV */ /* HEADER + NAV */ /* HEADER + NAV */ 

header {
    height: 65vh;
}

div.conteiner-nav {
    height: 70px;

    background-color: #3161e0;
}

nav {
    line-height: 70px;    
    text-align: center;
    font-size: .9rem;
    font-weight: 400;

    
    width: 900px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

nav .logo {
    float: left;
}

nav .logo img {
    vertical-align:middle ;
}


nav ul {
    display: inline-block;
}

nav ul li {
    display: inline-block;
    padding: 0 1rem;
}


nav .login {
    float: right;
}

nav a.login {
    background-color: #fff;
    line-height: 25px;
    margin-top: 1.2rem;
    padding: .2rem .8rem;
    border-radius: 2rem;
    color: #000;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.header-conteiner {
    position: relative;

    height: 89%;

    background-image: url(../img/jumbo.png);
    background-size: cover;

}

.download {
    display: inline-block;
    
    border-radius: 2rem;

    background-color: #fff;
    padding: 1rem;
    margin-top: 2rem;
    margin-right: 1rem;
    color: #000;
}

.open-broswer {
    display: inline-block;
    
    border-radius: 2rem;

    background-color: #121212;
    padding: 1rem;
    margin-top: 2rem;
}






/* GENERALI *//* GENERALI *//* GENERALI *//* GENERALI */
a {
    color: #fff;
    text-decoration: none;
}
.center-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    width: 50%;
}

.center-main h1 {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.center-main p {
    font-size: 1rem;
    padding-top: 1rem;
    line-height: 1.6rem;
}






section {
    height: 70vh;
    color: #000;
} 
 
section.gold {
    background-color: gold;
}

footer {
    height: 30vh;

    background-color: gray;
}