* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}


 /* HEADER + NAV */ /* HEADER + NAV */ /* HEADER + NAV */ 

header {
    height: 65vh;
}

div.conteiner-nav {
    height: 70px;

    background-color: #3161e0;
}

nav {
    line-height: 70px;    
    text-align: center;
    font-size: .9rem;
    font-weight: 400;

    
    max-width: 900px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

nav .logo {
    float: left;
}

nav .logo img {
    vertical-align:middle ;
}


nav ul {
    display: inline-block;
}

nav ul li {
    display: inline-block;
    padding: 0 1rem;
}


nav .login {
    float: right;
}

nav a.login {
    background-color: #fff;
    line-height: 25px;
    font-size: .8rem;
    margin-top: 1.2rem;
    padding: .2rem .8rem;
    border-radius: 2rem;
    color: #000;
    text-decoration: none;
}

nav a.login:hover, .tasti:hover, a.login-footer:hover  {
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}


ul li a:hover {
    text-decoration: underline;
}

.header-conteiner {
    height: 89%;
    
    text-align: center;

    background-image: url(../img/jumbo.png);
    background-size: cover;

}

.header-conteiner p {
    padding: 1rem 7rem 0 7rem;
}

.download {
    
    background-color: #fff;
    margin-top: 2rem;
    margin-right: 1rem;
    color: #000;
}

.download:hover {
    color: #3161e0;
}

.open-broswer {
    
    background-color: #23272a;
    margin-top: 2rem;
}

.open-broswer:hover {
    background-color: #36393f;
}

section span {
    background-color: #6d88e0;
    color: #fff;
}

section a:hover span.tasti, 
a.login-footer:hover {
    background-color: #8ea1e1;
}

.ruota {
    transform: rotate(180deg) ;
  }

.sect-2-txt  {
    padding-left: 3rem;;
}
.sect-3-txt  {
    padding-right: 3rem;
}






/* GENERALI *//* GENERALI *//* GENERALI *//* GENERALI */
a {
    color: #fff;
    text-decoration: none;
}

.center-main {
    margin: 0 auto;
    padding: 4rem 0;
    max-width: 900px;
}


.tasti {
    padding: 1rem;
    display: inline-block;
    border-radius: 2rem;

}

.center-main h1 {
    font-size: 3rem;
    padding-bottom: 2rem;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
}

section {
    color: #000;
    margin-top: -4px;
} 

section.bg-gray {
    background-color: #f6f6f6;
}

section .column-left {
    float: left;
}

.sect-1 {
    width: 65%;
}
.sect-2 {
    width: 35%;
}

section .column-right {
    float: right;
}

section img {
    width: 100%;
}

section .txt-center {
    text-align: center;
}



section .pre-foot {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 2rem 3rem;

}



/* FOOTER  *//* FOOTER  *//* FOOTER  *//* FOOTER  *//* FOOTER  */

footer {
    background-color: #23272a;
}

.center-foot {
    margin: 0 auto;
    padding-top: 4rem;
    max-width: 900px;
}
.center-foot-final {
    margin: 0 auto ;
    max-width: 900px;
    padding-bottom: 3rem;
}

.first-column-foot {
    float: left;
    width: 25%;
} 

.other-column-foot {
    float: left;
    width:calc((100% - 25%) /4);
    padding-left: 1.2rem;
    padding-bottom: 1.5rem;
}

footer h3 {
    color: #7289da;
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: .8rem;
}

.first-column-foot img {
    width: 20px;
}

.first-column-foot span{
    font-size: .8rem;
}

footer ul li {
    list-style: none;
    line-height: 1.8rem;
    font-size: .9rem;
}

ul li span {
    color: #7289da;
    font-weight: 900;
}

hr {
    border:0;
    border-bottom:  1px solid #6d88e0;
}

.center-foot-final img {
    margin-top: 1.5rem;
    float: left;
}


 a.login-footer {
    background-color: #6d88e0;    
    float: right;
    margin-top: 1.5rem;
    line-height: 25px;
    margin-top: 1.2rem;
    padding: .2rem .8rem;
    border-radius: 2rem;
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
}